@font-face {
    font-family: 'Dosis';
    src: url('Assets/Fontes/Dosis-regular.ttf');
}

@font-face {
    font-family: 'Dosis Extra Bold';
    src: url('Assets/Fontes/Dosis-ExtraBold.ttf');
}

@font-face {
    font-family: 'Dosis Extra Light';
    src: url('Assets/Fontes/Dosis-ExtraLight.ttf');
}

@font-face {
    font-family: 'Title Zineteca';
    src: url('Assets/Fontes/Cheveuxdange.ttf');
    font-weight: bolder;
}